.flex {
    display: flex;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .flex-wrap {
    flex-wrap: wrap;
  }
  
  .gap-5 > * {
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .pb-5 {
    padding-bottom: 1.25rem; /* Adjust as needed */
  }
  
  .fixed {
    position: fixed;
  }
  
  .bottom-10 {
    bottom: 10px;
  }
  
  .right-10 {
    right: 10px;
  }
  